.services-right {
    margin-top: -2px;
    font-size: 15px;
    /* border: 2px solid #B62528; */
    border-left: 0;
    /* border-radius: 0px 50px 50px 0px; */
    /* padding: 50px 50px 100px; */
    /* margin-top: 100px; */
}
.text-col {
    padding: 50px 50px 120px;
    border: 2px solid #B62528;
    border-left: 0;
    border-right: 0;
}
.service-text{
    padding-top: 20px;
}
.text-contabilidade {
    padding: 50px 0 120px;
}
.text-contabilidade h2{
    font-weight: bold;
}
.img-right-col {
    border: 2px solid #B62528;
    border-radius: 0px 50px 50px 0px;
    border-left: 0;
    padding: 50px;
    padding-bottom: 100px;
}
.service-logo {
    width: 200px;
    margin-top: -140px;
}
.contabilidade-logo {
    margin-top: -85px;
}
.contabilidade-logo-col {
    border: 2px solid #B62528;
    border-left: 0;
    border-right: 0;
}
.services-right .text-col {
    padding-top: 50px;
}
.btn-more {
    border: 2px solid;
    background-color: transparent;
    color: #000000;
    border-radius: 10px;
    padding: 10px 60px;
    margin-top: 20px;
    font-weight: 500;
}
.btn-red{
    border-color: #B62528;
}
.btn-red:hover {
    background-color: #B62528;
    border: 2px solid #B62528;
    color: #ffffff;
}
.btn-orange {
    border: 2px solid #E7833A;
    float: right;
}
.btn-orange:hover {
    background-color: #E7833A;
    border: 2px solid #E7833A;
    color: #ffffff;
}
.btn-yellow {
    border: 2px solid #F5E743;
    float: right;
}
.btn-yellow:hover {
    background-color: #F5E743;
    border: 2px solid #F5E743;
    color: #ffffff;
}

/* left */

.services-left {
    margin-top: -2px;
    font-size: 15px;
    /* border: 2px solid #B62528; */
    border-left: 0;
    /* border-radius: 0px 50px 50px 0px; */
    /* padding: 50px 50px 100px; */
    /* margin-top: 100px; */
}
.key-west .img-left-col{
    border-bottom: 0;
    border-radius: 50px 0px 0px 0px;
}
.key-west .text-col{
    border-bottom: 0;
}
.img-left-col {
    border: 2px solid #B62528;
    border-radius: 50px 0px 0px 50px;
    border-right: 0;
    padding: 50px;
    padding-bottom: 100px;
}
.services-left .service-logo {
    float: right;
}
.services-left .text-col p {
    padding-top: 50px;
    margin-bottom: 0;
}
.services-left .btn-more {
    float: right;
}
.service-logo-left {
    margin-top: -395px;
}
#logistica {
    margin-top: -410px;
}
.logo-mobile{
    display: none;
}
@media screen and (min-width: 320px) and (max-width: 768px){
    .service-logo{
        display: none;
    }
    .text-col{
        padding: 5px;
        border: none;
    }
    .img-right-col{
        border: none;
        padding: 5px;
        display: none;
    }
    .img-left-col{
        border: none;
        padding: 5px;
        display: none;
    }
    .contabilidade-logo-col{
        border: none;
    }
    .service-logo{
        width: 100px;
        margin: auto;
    }
    .contabilidade-logo{
        width: 80px;
        float: none;
        margin: auto;
    }
    .text-col p{
        padding:5px;
    }
    .service-logo-left{
        margin-top: -200px;
    }
    #logistica{
        margin-top: -200px;
    }
    .services-right .text-col{
        padding: 5px;
    }
    .services-left{
        margin-bottom: 50px;
    }
    .services-right{
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .services-left .service-logo{
        float: none;
    }
    .btn-more{
        margin: 100px 0 30px; 
    }
    .services-left .text-col p{
        padding-top: 5px;
        padding-bottom: 15px;
    }
    .service-text{
        text-align: center;
    }
    .services-left .btn-more{
        float: unset;
    }
    .key-west{
        margin-bottom: 180px;
    }

    .logistica .service-text p{
        padding-bottom: 30px;
    }
    .logistica .service-text{
        margin-bottom: 50px;
    }
    .logo-mobile{
        display: block;
        width: 40%;
        margin: auto;
    }
}