.about-text{
    padding-left: 50px;
}
.about-title{
    font-weight: bold;
    padding-bottom: 15px;
}
.first-redline{
    background-color: #B62528;
    width: 30px;
    height: 4px;
    display: block;
}
.second-redline{
    background-color: #B62528;
    width: 130px;
    height: 4px;
    display: block;
    margin-left: 40px;
    margin-top: -4px;
    margin-bottom: 30px;
}
.about-paragraph{
    font-size: 15px;
    opacity: 0.9;
    text-align: justify;
}
.about-section{
    background-image: url("../../background/bg-sobre_02.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}
.about-row{
    padding-top: 40px;
    background-image: url("../../background/letreiro-sobre_03.png");
    background-repeat: no-repeat;
}
@media screen and (min-width: 320px) and (max-width: 768px){
    .about-row{
        background-size: 80%;
    }
  }
