.spec-contact{
    background-color: #e9e9e9;
    padding-top: 50px;
    font-family: 'Metropolis-Light';
    
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.spec-contact h2{
    font-size: 3rem;
    font-family: 'Metropolis-Light';
}
.whatsapp-link{
    width: 70px;
    float: right;
}
.whatsapp-link-pop{
    background-color: #ffffff;
    position: absolute;
    width: 120px;
    text-align: center;
    display: none;
    font-size: 12px;
    font-weight: 500;
    padding: 15px;
    bottom: 150px;
    right: -10px;
    -webkit-box-shadow: 0px 0px 117px -35px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 117px -35px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 117px -35px rgba(0,0,0,0.75);
}
.whatsapp-link:hover .whatsapp-link-pop{
    display: block;
}
.internal-header-row{
    margin-bottom: 50px;
}
.internal-title{
    font-family: 'Metropolis-Bold';
}
/* themes */
.orange .spec-contact{
    background-image: url("../background/apoema_footer_bg.png");
}
.red .spec-contact{
    background-image: url("../background/asessoria_footer_bg.png");
}
.apoema-color{
    color: #F38138;
}
.red-color{
    color: #B62528;
}
.apoema .internal-title{
    padding-left: 40px;
    padding-top: 40px;
    background-image: url("../background/página-apoema_04.png");
    background-repeat: no-repeat;
    background-size: 80%;
}
.apoema .spec-contact .container{
    background-image: url("../background/página-apoema_14.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 60%;
}
.apoema-specialist .specialist-card .avatar-thumb{
    border-color: #F38138;
}
.apoema-specialist .specialist-info .specialist-icon{
    color: #F38138;
}
.assessoria-specialist .specialist-card .avatar-thumb{
    border-color: #B62528;
}
.assessoria-specialist .specialist-info .specialist-icon{
    color: #B62528;
}
.keywest-specialist .specialist-card .avatar-thumb{
    border-color: #F5E743;
}
.keywest-specialist .specialist-info .specialist-icon{
    color: #F5E743;
}
/* /themes */
.internal-page{
    font-family: 'Metropolis-Light';
}
.internal-page .inside-nav{
    display: none;
}
.internal-page .navbar-toggler{
    display: none;
}
.internal-page .footer-wrapper{
    display: none;
}
.internal-first-section{
    background-image: url("../background/apoema-parabola.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    padding-bottom: 80px;
}

 .internal-title-2{
    background-repeat: no-repeat;
    background-size: 80%;
    padding: 40px 0 0 40px;
    color: transparent;
}
.assessoria .internal-title-2{
    background-image: url("../background/assessoria-h2.png");
}
.contabilidade .internal-title-2{
    background-image: url("../background/contabilidade-h2.png");
}
.internal-first-section .gatsby-resp-image-wrapper{
    width: 400px;
    float: right;
    padding: 5px;
}
.internal-page p{
    text-align: justify;
}