.team-form-section{
    background-color: #ffffff;
    padding-top: 20px;
}
.team-form-container{
    background-image: url("../../background/letreiro-equipe_03.png");
    background-repeat: no-repeat;
    background-position: 15px 65px;
}
.team-form-container .section-title{
    margin: auto;
    text-align: center;
    padding-left: 0;
    padding-top: 50px;
}
.team-form-container .section-title::after {
    width: 0;
    height: 0;
}
.team-form-container .section-subtitle{
    text-align: justify;
    padding: 0;
    margin: auto;
}
.team-form-container .form-inline{
    margin: auto;
    padding: 50px 0 15px 0;
}
.btn-team-form{
    background-color: #B62528;
    border-color: #B62528;
    font-size: 16px;
    font-weight: 500;
}
.quote-2{
    font-weight: 600;
}
.team-name{
    border: 1px solid #dc3545;
}
.form-ilustration{
    height: 270px;
    overflow: hidden;
    margin-top: 20px;
}
@media screen and (min-width: 320px) and (max-width: 768px){
    .team-form-container h1{
        font-size: 30px;
    }
    .team-form-container{
        background-size: 80%;
    }
    .section-subtitle p:first-child{
        margin-top: 30px;
    }
    .form-ilustration{
        height: unset;
    }
}