#navbar{
    padding: 0 25px !important;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: transparent;
    transition: 0.5s;
}
.navbar-fixed{
    background-color: rgba(0,0,0,0.8) !important;
    transition: 0.5s;
}
.main-navbar{
    border-bottom: 1px solid #ffffff3b;
    font-weight: 500;
}
.inside-nav{
    margin-left: auto;
}
.nav-link{
    padding: 1.25rem 1rem !important;
    text-transform: uppercase;
}
.navbar-light .navbar-nav a.nav-link{
    color: #ffffff;
    font-size: 15px;
}
li.nav-item{
    margin-bottom: 0;
    text-transform: uppercase;
}
li.nav-item.show{
    background-color: #ffffff;
}
.navbar-light .navbar-nav .show.nav-item .nav-link {
    color: #B62528;
    background-color: #ffffff;
}
.navbar-nav .nav-link:hover{
    background-color: #ffffff;
}
.navbar-nav .nav-link.active{
    background-color: transparent;
    color: #ffffff !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    background-color: #ffffff;
    color: rgba(0,0,0,.9) !important;
}
.dropdown-item{
    text-transform: uppercase;
    font-size: 14px;
}
.navbar-collapse{
    float: right;
}
.dropdown-menu{
    border-radius: 0px !important;
    margin-left: -1px !important;
}
.dropdown-menu .show{
    background-color: #ffffff;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: #B62528 !important;
}