.stats-section{
    background-image: url("../../background/bg-quote.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
}

.stats-col{
    text-align: center;
    padding: 40px;
}
.stats-col-bg-1{
    background-color: rgba(182,37,40,0.8);
    height: 100%;
}
.stats-col-bg-2{
    background-color: rgba(182,37,40,0.7);
    height: 100%;

}
.stats-col-bg-3{
    background-color: rgba(182,37,40,0.6);
    height: 100%;

}
.stats-col-bg-4{
    background-color: rgba(182,37,40,0.5);
    height: 100%;

}
.stats-number{
    color: #ffffff;
    font-size: 60px;
}
.stats-description{
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
}
.quote{
    color: #ffffff;
    font-family: 'Metropolis-Regular';
    font-weight: 600;
    font-size: 22px;
    font-style: italic;

}
.quote-autor{
    text-align: end;
    margin: 0;
    font-family: 'Metropolis-Regular';
    font-weight: 600;
}
.quote-info{
    text-align: end;
    font-family: 'Metropolis-Light';
    font-weight: 300;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .quote-text{
        font-size: 14px;
    }
    .quote-autor{
        font-size: 12px;
    }
    .quote-info{
        font-size: 12px;
    }
  }